<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Test</title>
        <link rel = "stylesheet" type = "text/css"
              href="{% static "scrumboard/css/scrumboard.css" %}">
    </head>

    <body ng-app="scrumboard.demo">
        {% verbatim %}
        <div ng-controller="ScrumboardController">
            <div class='list' ng-repeat = "list in data" style="position:relative">
                <div class="flex-title">
                    <!-- visible -->
                    <h3 ng-hide="editListName">{{ list.name }}</h3>
                    <button ng-hide="editListName" ng-click="editListName=true" class="editButton">Edit title</button>
                    <!-- editing -->
                    <input ng-show="editListName" type="text" class="transparentInput" ng-model="list.name"/>
                    <button ng-show="editListName" ng-click="editListName=false; updateListTitle(list)" class="editButton">Save title</button>
                </div>
                <ul>
                    <li ng-repeat = "card in list.cards">
                        <scrumboard-card></scrumboard-card>
                    </li>
                </ul>
                <div class="controls">
                    <input type="text" ng-model="new_title" placeholder="New Card Title"/>
                    <input type="text" ng-model="new_description" placeholder="Description"/>
                    <button ng-click="add(list, new_title, new_description)">+</button>
                    <button ng-click="delete(list)">Delete List</button>
                </div>
            </div>
            <button class="circular-button" ng-click="newList()">+</button>
        </div>
        {% endverbatim %}

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <script src="{% static "scrumboard/scrumboard.js"%}"></script>
        <script src="{% static "scrumboard/card.directive.js" %}"></script>


    </body>
</html>